body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0px;
}

.container {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

thead {
    background: #050e16;
    text-align: left;
}

thead th {
    padding: 12px;
    background:   #ffffff;
    color: rgb(0, 0, 0);

    
}

tbody tr {
    border-bottom: 1px solid #ddd;
    transition: background 0.3s;
}

tbody tr:hover {
    background: #f1f1f1;
}

td {
    padding: 10px;
    color: #333;
}


.appointment-button{
    margin-right: 1030px;

}